<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'washing.css' %}?v={{ version }}">
    <title class="pageuse">Register</title>

    <title>Login</title>
</head>
<body>
    <div class="topofpage">
            <h2 class="pagetitle">
                洗衣機預約系統
            </h2>
    </div>

    <h2 class="pagetitle">Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <!-- 添加註冊頁面的鏈接 -->
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</body>
</html>
